In [6]:
# Coorelation between data sets
import pandas as pd
df=pd.read_csv('/Users/amitesh/Desktop/Courses/Big_Data/BigDataProject/part2/Analysis/Combined_Properties_vs_Neighbourhood.csv')

In [7]:
df

,Borough Name,NTA Code,NBD Name,Year,Unemployment Rate,Poverty Rate,Population,Median Income,Crime Rate
0,NaN,BK73,NaN,2006,NaN,NaN,NaN,NaN,2734
1,NaN,BK73,NaN,2007,NaN,NaN,NaN,NaN,2571
2,NaN,BK73,NaN,2008,NaN,NaN,NaN,NaN,3092
3,NaN,BK73,NaN,2009,NaN,NaN,NaN,NaN,2625
4,NaN,BK73,NaN,2010,NaN,NaN,NaN,NaN,2843
5,NaN,BK73,NaN,2011,NaN,NaN,NaN,NaN,2954
6,NaN,BK73,NaN,2012,NaN,NaN,NaN,NaN,3195
7,NaN,BK73,NaN,2013,NaN,NaN,NaN,NaN,3241
8,NaN,BK73,NaN,2014,NaN,NaN,NaN,NaN,3291
9,NaN,BK73,NaN,2015,NaN,NaN,NaN,NaN,3196
10,NaN,BK99,NaN,2006,NaN,NaN,NaN,NaN,868
11,NaN,BK99,NaN,2007,NaN,NaN,NaN,NaN,929
12,NaN,BK99,NaN,2008,NaN,NaN,NaN,NaN,1008
13,NaN,BK99,NaN,2009,NaN,NaN,NaN,NaN,1028
14,NaN,BK99,NaN,2010,NaN,NaN,NaN,NaN,977
15,NaN,BK99,NaN,2011,NaN,NaN,NaN,NaN,1009
16,NaN,BK99,NaN,2012,NaN,NaN,NaN,NaN,955
17,NaN,BK99,NaN,2013,NaN,NaN,NaN,NaN,825
18,NaN,BK99,NaN,2014,NaN,NaN,NaN,NaN,876
19,NaN,BK99,NaN,2015,NaN,NaN,NaN,NaN,765
20,NaN,BX01,NaN,2006,NaN,NaN,NaN,NaN,3011
21,NaN,BX01,NaN,2007,NaN,NaN,NaN,NaN,3270
22,NaN,BX01,NaN,2008,NaN,NaN,NaN,NaN,3033
23,NaN,BX01,NaN,2009,NaN,NaN,NaN,NaN,3249
24,NaN,BX01,NaN,2010,NaN,NaN,NaN,NaN,3072
25,NaN,BX01,NaN,2011,NaN,NaN,NaN,NaN,2808
26,NaN,BX01,NaN,2012,NaN,NaN,NaN,NaN,2925
27,NaN,BX01,NaN,2013,NaN,NaN,NaN,NaN,3084
28,NaN,BX01,NaN,2014,NaN,NaN,NaN,NaN,3097
29,NaN,BX01,NaN,2015,NaN,NaN,NaN,NaN,3134
...,...,...,...,...,...,...,...,...,...
730,Staten Island,"['SI28', 'SI37', 'SI22', 'SI12', 'SI07', 'SI08...","Stapleton ROSEBANK, Port Richmond, St. George,...",2006,6.90%,16.20%,"$55,996","182,833",14504
731,Staten Island,"['SI28', 'SI37', 'SI22', 'SI12', 'SI07', 'SI08...","Stapleton ROSEBANK, Port Richmond, St. George,...",2007,5.90%,18.80%,"$55,415","179,225",13652
732,Staten Island,"['SI28', 'SI37', 'SI22', 'SI12', 'SI07', 'SI08...","Stapleton ROSEBANK, Port Richmond, St. George,...",2008,7.90%,17.40%,"$56,161","179,381",14038
733,Staten Island,"['SI28', 'SI37', 'SI22', 'SI12', 'SI07', 'SI08...","Stapleton ROSEBANK, Port Richmond, St. George,...",2009,10.10%,17.90%,"$61,029","172,052",13085
734,Staten Island,"['SI28', 'SI37', 'SI22', 'SI12', 'SI07', 'SI08...","Stapleton ROSEBANK, Port Richmond, St. George,...",2010,10.40%,21.00%,"$55,272","173,412",13394
735,Staten Island,"['SI28', 'SI37', 'SI22', 'SI12', 'SI07', 'SI08...","Stapleton ROSEBANK, Port Richmond, St. George,...",2011,7.90%,19.70%,"$57,325","175,699",12858
736,Staten Island,"['SI28', 'SI37', 'SI22', 'SI12', 'SI07', 'SI08...","Stapleton ROSEBANK, Port Richmond, St. George,...",2012,8.90%,19.80%,"$58,742","176,221",13241
737,Staten Island,"['SI28', 'SI37', 'SI22', 'SI12', 'SI07', 'SI08...","Stapleton ROSEBANK, Port Richmond, St. George,...",2013,6.90%,22.50%,"$57,675","176,338",12972
738,Staten Island,"['SI28', 'SI37', 'SI22', 'SI12', 'SI07', 'SI08...","Stapleton ROSEBANK, Port Richmond, St. George,...",2014,7.30%,8.70%,"$69,040","133,736",13187
739,NaN,"['SI28', 'SI37', 'SI22', 'SI12', 'SI07', 'SI08...",NaN,2015,NaN,NaN,NaN,NaN,12941
740,Staten Island,"['SI36', 'SI05', 'SI45', 'SI25']","New Springville, South Beach, Willowbrook, NEW...",2006,3.90%,7.60%,"$68,379","134,188",5433
741,Staten Island,"['SI36', 'SI05', 'SI45', 'SI25']","New Springville, South Beach, Willowbrook, NEW...",2007,5.20%,8.00%,"$75,171","142,188",5362
742,Staten Island,"['SI36', 'SI05', 'SI45', 'SI25']","New Springville, South Beach, Willowbrook, NEW...",2008,7.30%,11.30%,"$70,007","150,278",5543
743,Staten Island,"['SI36', 'SI05', 'SI45', 'SI25']","New Springville, South Beach, Willowbrook, NEW...",2009,8.20%,9.70%,"$70,692","132,502",4803
744,Staten Island,"['SI36', 'SI05', 'SI45', 'SI25']","New Springville, South Beach, Willowbrook, NEW...",2010,6.60%,7.70%,"$72,455","125,257",4436
745,Staten Island,"['SI36', 'SI05', 'SI45', 'SI25']","New Springville, South Beach, Willowbrook, NEW...",2011,6.50%,7.30%,"$72,495","131,923",4304
746,Staten Island,"['SI36', 'SI05', 'SI45', 'SI25']","New Springville, South Beach, Willowbrook, NEW...",2012,6.70%,9.20%,"$72,876","131,007",4502
747,Staten Island,"['SI36', 'SI05', 'SI45', 'SI25']","New Springville, South Beach, Willowbrook, NEW...",2013,5.90%,9.10%,"$71,549","126,200",4124
748,Staten Island,"['SI36', 'SI05', 'SI45', 'SI25']","New Springville, South Beach, Willowbrook, NEW...",2014,3.70%,4.10%,"$81,933","175,246",4139
749,NaN,"['SI36', 'SI05', 'SI45', 'SI25']",NaN,2015,NaN,NaN,NaN,NaN,4054
750,Staten Island,"['SI54', 'SI11', 'SI32', 'SI48', 'SI01']","Tottenville, ROSSVILLE Woodrow, Great Kills, A...",2006,2.70%,4.60%,"$78,392","164,592",5425
751,Staten Island,"['SI54', 'SI11', 'SI32', 'SI48', 'SI01']","Tottenville, ROSSVILLE Woodrow, Great Kills, A...",2007,5.10%,2.20%,"$90,464","165,994",5095
752,Staten Island,"['SI54', 'SI11', 'SI32', 'SI48', 'SI01']","Tottenville, ROSSVILLE Woodrow, Great Kills, A...",2008,6.00%,4.30%,"$76,958","162,071",5447
753,Staten Island,"['SI54', 'SI11', 'SI32', 'SI48', 'SI01']","Tottenville, ROSSVILLE Woodrow, Great Kills, A...",2009,8.70%,7.00%,"$83,998","164,809",4769
754,Staten Island,"['SI54', 'SI11', 'SI32', 'SI48', 'SI01']","Tottenville, ROSSVILLE Woodrow, Great Kills, A...",2010,7.50%,5.30%,"$82,921","171,798",4685
755,Staten Island,"['SI54', 'SI11', 'SI32', 'SI48', 'SI01']","Tottenville, ROSSVILLE Woodrow, Great Kills, A...",2011,7.00%,6.50%,"$83,441","163,106",4535
756,Staten Island,"['SI54', 'SI11', 'SI32', 'SI48', 'SI01']","Tottenville, ROSSVILLE Woodrow, Great Kills, A...",2012,7.00%,6.20%,"$85,790","164,258",4349
757,Staten Island,"['SI54', 'SI11', 'SI32', 'SI48', 'SI01']","Tottenville, ROSSVILLE Woodrow, Great Kills, A...",2013,5.60%,10.30%,"$82,822","170,741",3948
758,Staten Island,"['SI54', 'SI11', 'SI32', 'SI48', 'SI01']","Tottenville, ROSSVILLE Woodrow, Great Kills, A...",2014,5.60%,10.30%,"$82,822","170,741",3851
759,NaN,"['SI54', 'SI11', 'SI32', 'SI48', 'SI01']",NaN,2015,NaN,NaN,NaN,NaN,3654

In [21]:
df.columns

Index([u'Borough Name', u'NTA Code', u'NBD Name', u'Year',
       u'Unemployment Rate', u'Poverty Rate', u'Population', u'Median Income',
       u'Crime Rate'],
      dtype='object')

In [10]:
df.index

RangeIndex(start=0, stop=760, step=1)

In [18]:
# import seaborn as sns
# corr=df.corr()
# sns.heatmap(corr,
#            xticklabels=corr.columns.values,
#            yticklabels=corr.columns.values)

In [19]:
# sns.pairplot(df)

In [23]:
import numpy as np
df1=df[['Unemployment Rate','Poverty Rate','Population','Median Income','Crime Rate']]
cols=df1.columns
df1[cols].values.T
# cm = np.corrcoef(df1[cols].values.T)
# sns.set(font_scale=1.5)
# hm = sns.heatmap(cm, 
#             cbar=True,
#             annot=True, 
#             square=True,
#             fmt='.2f',
#             annot_kws={'size': 15},
#             yticklabels=cols,
#             xticklabels=cols)
# plt.show()

TypeError: unsupported operand type(s) for +: 'float' and 'str'